.ticket-card {
  background-color: #ffffff;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ticket-card h3 {
  margin: 0;
  font-size: 18px;
}

.ticket-card p {
  margin: 5px 0;
  font-size: 14px;
}
